<!DOCTYPE html>
<html>
    <head>
        <title>Contact Us</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="container">
            <h1>Contact Us</h1>
            <p>You can contact us at:</p>
            <form  method="post">
                <input type="text" id="name" name="name" required placeholder="Enter Your Name"><br>
                <textarea id="message" name="message" required placeholder="Enter Your Message"></textarea><br>
                <button type="submit" class="btn">Sent Message</button>
            
            <a href="/" class="btn">Home</a>
        </div>
    </body>
</html>