<!DOCTYPE html>
<html>
    <head>
        <title> Flask Full Stack Website</title>

        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    </head>
    <body>
        <div class="container">
            <h1>Welcome to Flask Full Stack Website</h1>
            <a href="/" class="btn">Home</a>
            <a href="/students" class="btn">Students</a>
            <a href="/about" class="btn">About</a>
            <a href="/contact" class="btn">Contact</a>
            <a href="/register" class="btn">Register</a>
            

        </div>
    </body>
</html>